/* Use bootstrap framework 
class="container": default grid, center
class="table"
class="table-striped"
class="thead-dark"
class="btn-dark"
*/

@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

body {
  /*background-color: rgba(0, 0, 0, .6);*/
  /* background-color: rgba(80, 85, 87, .8);
  background-color: #ffd635;
  background-color: rgb(0, 121, 211); */
  background-color: #f6f6f6
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article {
  margin-top: 2%;
  /* background-color: #f0e6e6; */
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 2px;
  border-width: 5px;
}

.entry-title a {
  color: #282c34;
}

.entry-info{
  font-style: italic;
}

.sep {
  padding-left: 7%;
}

.entry-description {
  padding-left: 3%;
}

